# Build output
dist/
.astro/

# Dependency directories
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.production

# Mac / Windows files
.DS_Store
Thumbs.db
